KODI_USER=kodi
KODI_PASSWORD=votre_mot_de_passe_kodi
PORT=5788
PATH_TO_FRONT=~/jarvis-pi
SCREEN_START=09
SCREEN_END=21
RENAULT_STATS_PI_PATH=~/renault-statsPi
MY_RENAULT_USERNAME=votre_email_renault
MY_RENAULT_PASSWORD=votre_mot_de_passe_renault
VIN_ID=vin_de_votre_vehicule
KAMEREON_ACCOUNT_ID=kamereon_account_id_de_votre_vehicule
